@model IEnumerable<WebAppFriends.Models.Person>
@{Layout = null;}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FriendsFound</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body class="p-1">
    <h3 class="text-center">Friends Found In Search</h3>
    <table class="table table-bordered table-striped">
        <thead>
            <tr><td>FirstName</td><td>LastName</td><td>Gender</td><td>Age</td></tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.FirstName</td>
                    <td>@p.LastName</td>
                    <td>@p.Gender</td>
                    <td>@p.Age</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="text-center">
        <a class="btn btn-primary" asp-action="SearchFriends">
            New Search
        </a>
        <a class="btn btn-secondary" asp-action="Index">
            Friends List
        </a>
    </div>
</body>
</html>
