@model WebApplicationDink.Models.Dink
@{ Layout = null; }

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dink's Page</title>
</head>
<body style="font-family: Arial, Helvetica, sans-serif;">
    <div class="name" style="font-size: xx-large">@Model.Name</div>
    <div class="age" style="font-size: x-large">@Model.Age</div>
    <div class="job" style="font-size: larger">@Model.Job</div>
    <div class="color" style="font-size: large">@Model.FavColor</div>
</body>
</html>